<style>
.thumbnail {
  margin-bottom: 50px;
  background: #bdc3c7;
}
.thumbnail .caption {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1.75rem;
  color: #fff;
  }
.thumbnail .caption .reverse{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
  margin: 0px;
}
</style>

<script>$.vegas({src:'http://s25.postimg.org/4k1p5cxtb/book_shelf.jpg'});</script>

<div class="container">
  <div class="row">
    <% @books.order('created_at').each do |book| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail" style="background-image: url('<%= book.photo %>')">
          <% if book.reverse_font == true %>
            <div class="caption" >
              <div class="reverse">
                <h3><%= link_to book.title, book %></h3>
                <p><%= book.format %></p>
                <p><%= book.author %></p>
                <p><%= book.length %> pages</p>
                <p>Released in <%= book.release_year %></p>
                <p>Rating: <%= book.rating %></p>
              </div>
            </div>
            <% else %>
            <div class="caption">
              <h3><%= link_to book.title, book %></h3>
              <p><%= book.format %></p>
              <p><%= book.author %></p>
              <p><%= book.length %> pages</p>
              <p>Released in <%= book.release_year %></p>
              <p>Rating: <%= book.rating %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
